h3 {
  display: flex;
  justify-content: center;
}

body {
  padding-top: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.search-box {
  padding-left: 0px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.search {
  width: 75%;
  padding-right: 5px;
}

.button {
  width: 25%;
  padding-left: 10px;
}
