/* Global */

nav {
  height: 20px;
  color: white;
  padding-right: 5px;
}

body {
  font-family: "Nunito"
}

h1 {
  position: relative;
}

h4 {
  position: relative;
  text-align: center;
}

/* Navigation & Header Section */

.business-info {
  position: relative;
  text-align: right;
}

.nav-bar {
  position: relative;
  text-align: right;
  justify-content: space-between;
  padding-right: 10px;
}

.nav-headers {
  word-spacing: 30px;
}

/* Hero Section */

.hero-image {
  background-image: url(./assets/tea-header-4.jpg);
  height: 700px;
  background-size: cover;
}

.hero-image-header {
  padding: 150px 0 0 70px;
}

.hero-image-tagline {
  color: white;
  position: relative;
  text-align: left;
  padding-top: 0px;
  font-size: 20px;
}

.hero-image-headline {
  color: white;
  position: relative;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 60px;
  max-width: 50%;
}

.hero-button {
  background-color: #ffff;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px 30px;
  border-color: #ffff;
}

/* Demo Section */

.demo {
  display: flex;
  flex-direction: row;
  width: 90vw;
  padding: 20px;
  margin: 0px auto;
}

.video-demo {
  border-radius: 20px;
  width: 45vw;
  position: relative;
  text-align: center;
}

.demo-description {
  width: 45vw;
  text-align: left;
}

/* Product Range */

.tea {
  word-spacing: 30px;
  font-size: 12px;
}

.product-range {
  display: grid;
  background-image: url(./assets/background-image-tea-1.jpg);
  height: 500px;
}

.tea-range-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  max-width: 80vw;
  margin: 0px auto;
  justify-content: center;
}

.tea-description {
  font-size: 8px;
  text-align: left;
}

.tea-product-type {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 150px;
  max-height: 200px;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  background-color: white;
  padding: 20px 20px 20px 20px;
}

/* Product Gallery */

.product-grid {
  display: grid;
  grid-template-areas: 'header header header header header header' 'main main main main right right' 'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.img-1 {
  grid-area: header;
  height: 10%;
  width: 10%;
}

.img-2 {
  grid-area: menu;
  height: 10%;
  width: 10%;
}

.img-3 {
  grid-area: main;
  height: 10%;
  width: 10%;
}

.img-4 {
  grid-area: right;
  height: 10%;
  width: 10%;
}

.img-5 {
  grid-area: footer;
  height: 10%;
  width: 10%;
}

.img-6 {
  grid-area: header;
  height: 10%;
  width: 10%;
}


/* Testimonials */

.testimonials {
  background-color: #C58E4C;
}


/* Latest Blogs */

/* Footer */

.footer {
  background-image: url(./assets/footer-tea.jpg)
}

.about-us {
  text-align: left;
  color: white;
}

.newsletter {
  text-align: right;
  color: white;
}
