/* Global */

.ps-parent {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-bottom: 2px;
}

nav {
  height: 20px;
  color: white;
  padding-right: 5px;
}

body {
  font-family: "Nunito"
}

h1 {
  position: relative;
  text-align: center;
}

h4 {
  position: relative;
  text-align: center;
}

li {
  padding-left: 1em;
}

/* Navigation & Header Section */

.business-info {
  position: relative;
  text-align: right;
}

.nav-bar {
  position: relative;
  text-align: right;
  justify-content: space-between;
  padding-right: 10px;
}

.nav-headers {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
}

/* Hero Section */

.hero-image {
  background-image: url(./assets/tea-header-4.jpg);
  height: 700px;
  background-size: cover;
}

.hero-description-container {
  max-width: 70vw;
  margin: auto;
}

.hero-image-header {
  padding: 150px 0 0 70px;
}

.hero-image-tagline {
  color: white;
  position: relative;
  text-align: left;
  padding-top: 0px;
  font-size: 1rem;
}

.hero-image-headline {
  color: white;
  position: relative;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 3rem;
  max-width: 50%;
}

.hero-button {
  background-color: #ffff;
  border-radius: 20px;
  font-size: 15px;
  padding: 10px 30px;
  border-color: #ffff;
}

/* Demo Section */

.demo {
  display: flex;
  flex-direction: row;
  max-width: 70vw;
  padding: 20px;
  margin: 0px auto;
}

.video-demo {
  border-radius: 20px;
  width: 45vw;
  position: relative;
  text-align: center;
}

.demo-description {
  width: 45vw;
  text-align: left;
}

/* Product Range */

.tea {
  word-spacing: 30px;
  font-size: 12px;
}

.product-range {
  display: grid;
  background-image: url(./assets/background-image-tea-1.jpg);
  height: 500px;
}

.tea-range-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  max-width: 80vw;
  margin: 0px auto;
  justify-content: center;
}

.tea-description {
  font-size: 8px;
  text-align: left;
}

.tea-product-type {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 150px;
  max-height: 200px;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  background-color: white;
  padding: 20px 20px 20px 20px;
}

/* Product Gallery */

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-auto-rows: 240px;
  gap: 1rem;
  margin: auto;
  justify-content: center;
  max-width: 70vw;
  padding: 0 0 4rem 0;
}
@media screen and (min-width:600px) {
  .img-1 {
    grid-row: 1 / 1;
    height: 100%;
    width: 100%;
  }

  .img-2 {
    grid-row: 1 / 3;
    grid-column: 2 / 4;
    height: 100%;
    width: 100%;
  }

  .img-3 {
    grid-row: 2 / 4;
    grid-column: 1;
    height: 100%;
    width: 100%;
  }

  .img-4 {
    height: 100%;
    width: 100%;
  }

  .img-5 {
    height: 100%;
    width: 100%;
  }

  .img-6 {
    height: 100%;
    width: 100%;
  }
}


/* Testimonials */

.testimonials {
  background-color: #C58E4C;
}

.testimonials-details {
  justify-content: center;
  /* align-items: center; */
  display: grid;
}

.testimonials-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  max-width: 70vw;
  padding: 0 0 4rem 0;
  justify-content: center;
}

.milestones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 70vw;
  padding: 0 0 4rem 0;
}


/* Latest Blogs */

.blogs-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.latest-blogs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1em 0 0 0;
  justify-content: space-between;
  align-items: center;
  max-width: 70vw;
}

.blog-post {
  display: flex;
  flex-direction: column;
}

.blog-img {
  /* max-width: 70vw; */
  height: 50vh;
}

/* Footer */

.footer-container {
  display: grid;
  max-width: 70vw;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem;
  border: black 0.20em solid;
  padding: 1em 0 0 0;
  max-width: 70vw;
  font-size: 0.75em;
}

.about-us {
  text-align: left;
  color: black;
}

.newsletter {
  text-align: center;
  color: black;
  grid-column: 2 / 3;
}

.social-media {
  text-align: center;
}
